MSApp_Unpack/pkgs/Wadl/ITS-TCOE_OCTO_UATELog_V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/its-2dtcoe-5focto-5fuatelog-5fv1-5fcbab90f57d62-984e676ea8cf5584" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ITS-TCOE_OCTO_UATELog_V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ITS-TCOE_OCTO_UATELog_V1">Custom Connector used for UAT Application</doc>
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/its-2dtcoe-5focto-5fuatelog-5fv1-5fcbab90f57d62-984e676ea8cf5584" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ExecuteTestRun_responses_default_def_exe_start_date_def" />
      <string name="ExecuteTestRun_responses_default_def_exe_end_date_def" />
      <integer name="ExecuteTestRun_responses_default_def_status_def_id_def" />
      <object name="ExecuteTestRun_responses_default_def_status_def">
        <property name="id" type="integer" />
      </object>
      <integer name="ExecuteTestRun_responses_default_def_properties_def_items_def_field_id_def" />
      <string name="ExecuteTestRun_responses_default_def_properties_def_items_def_field_name_def" />
      <string name="ExecuteTestRun_responses_default_def_properties_def_items_def_field_value_def" />
      <string name="ExecuteTestRun_responses_default_def_properties_def_items_def_field_value_name_def" />
      <object name="ExecuteTestRun_responses_default_def_properties_def_items_def">
        <property name="field_id" type="integer" />
        <property name="field_name" type="string" />
        <property name="field_value" type="string" />
        <property name="field_value_name" type="string" />
      </object>
      <array typeRef="ExecuteTestRun_responses_default_def_properties_def_items_def" name="ExecuteTestRun_responses_default_def_properties_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_test_step_id_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_description_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_expected_result_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_order_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_id_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_value_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_objectId_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_type_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_name_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_stripHTMLValue_def" />
      <boolean name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def_propertyEditorComponent_def" />
      <object name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def">
        <property name="id" type="integer" />
        <property name="value" type="string" />
        <property name="objectId" type="integer" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="stripHTMLValue" type="string" />
        <property name="propertyEditorComponent" type="boolean" />
      </object>
      <array typeRef="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def_items_def" name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def" />
      <string name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_actual_result_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_status_def_id_def" />
      <object name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_status_def">
        <property name="id" type="integer" />
      </object>
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_called_test_case_id_def" />
      <integer name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_parent_test_step_id_def" />
      <object name="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def">
        <property name="test_step_id" type="integer" />
        <property name="description" type="string" />
        <property name="expected_result" type="string" />
        <property name="order" type="integer" />
        <property name="customFieldInfo" typeRef="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_customFieldInfo_def" />
        <property name="actual_result" type="string" />
        <property name="status" typeRef="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def_status_def" />
        <property name="called_test_case_id" type="integer" />
        <property name="parent_test_step_id" type="integer" />
      </object>
      <array typeRef="ExecuteTestRun_responses_default_def_test_step_logs_def_items_def" name="ExecuteTestRun_responses_default_def_test_step_logs_def" />
      <object name="ExecuteTestRun_responses_default_def">
        <property name="exe_start_date" type="string" />
        <property name="exe_end_date" type="string" />
        <property name="status" typeRef="ExecuteTestRun_responses_default_def_status_def" />
        <property name="properties" typeRef="ExecuteTestRun_responses_default_def_properties_def" />
        <property name="test_step_logs" typeRef="ExecuteTestRun_responses_default_def_test_step_logs_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/its-2dtcoe-5focto-5fuatelog-5fv1-5fcbab90f57d62-984e676ea8cf5584">
    <resource path="/{connectionId}/executelog">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="ExecuteTestRun" actionName="ExecuteTestRun" siena:isDeprecated="false">
        <doc title="ExecuteTestRun&#xA;ExecuteTestRun" />
        <request>
          <param style="query" name="projectId" type="xs:string" />
          <param style="query" name="testrunId" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ExecuteTestRun_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_its-2dtcoe-5focto-5fuatelog-5fv1-5fcbab90f57d62-984e676ea8cf5584" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>